/* Titles */
h1 {
    font-size: 150%;
}

h2 {
    font-size: 100%;
}

/* Leaflet Map */
#map {
    width: 80vw;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

/* Banner */
#banner img {
	max-width: 30vw;
}

/* Footer */
footer {
    margin-top: 5vh;
}
