-- ============================================================
--    suppression des donnees
-- ============================================================

delete from COMMUNES ;
delete from STATIONS ;
delete from VELOS ;
delete from ADHERENTS ;
delete from EMPRUNTS ;

commit ;

-- ============================================================
--    creation des donnees
-- ============================================================

-- COMMUNES

insert into COMMUNES values ('Bordeaux') ;

commit ;

-- STATIONS

insert into STATIONS values ('1 Avenue du Dr Albert Shweitzer 33400 Talence', 10, 1) ;

commit ;

-- VELOS

insert into VELOS values ('RC360', 'Rockrider', '2021-11-08', 0, 'Bon état', 100, 1) ;

commit ;

-- ADHERENTS

insert into ADHERENTS values ('Morel', 'PJ', '7 Rue Salvador Allende 33400 Talence', '2021-11-08', 1) ;

commit ;

-- EMPRUNTS

insert into EMPRUNTS values ('2021-11-08', '23:21:00', 10, '2021-11-09', '05:48:54', 20, 1) ;

commit ;

-- ============================================================
--    verification des donnees
-- ============================================================

select count(*),'= 1 ?','COMMUNES' from COMMUNES
union
select count(*),'= 1 ?','STATIONS' from STATIONS 
union
select count(*),'= 1 ?','VELOS' from VELOS
union
select count(*),'= 1 ?','ADHERENTS' from ADHERENTS 
union
select count(*),'= 1 ?','EMPRUNTS' from EMPRUNTS ;