<%- include('header', {title: 'Ajouter', leaflet: false, css: [], js: [], banner: false}); -%>

<div class="col s12">
    <div class="row">
        <form class="col s12" method="POST" action="/subscribers/addSub">
            <div class="row">
                <div class="input-field col s6">
                    <input id="subSurname" class="validate" name="subSurname" type="text" required pattern="[A-Z]+([ -][A-Z]+){0,1}">
                    <label for="subSurname">Nom :</label>
                    <span class="helper-text" data-error="Le nom n'est pas en majuscule ou contient des caratères invalides" data-success="">en majuscules, ex: DUPONT</span>
                </div>
                <div class="input-field col s6">
                    <input id="subFirstName" class="validate" name="subFirstName" type="text" required pattern="[A-Z][a-zàâçéèêëîïôûùüÿñæœ]+(-[A-Z][a-zàâçéèêëîïôûùüÿñæœ]+){0,1}">
                    <label for="subSurname">Prénom :</label>
                    <span class="helper-text" data-error="Le prénom contient des caratères invalides ou n'a pas de majuscule au début" data-success="">ex: Pierre</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">place</i>
                    <input id="subAddr" class="validate" name="subAddr" type="text" required pattern="([0-9]+,{0,1}){0,1}( {0,1}[a-zàâçéèêëîïôûùüÿñæœA-Z0-9]+)+,{0,1} [0-9]{5},{0,1} [a-zàâçéèêëîïôûùüÿñæœA-Z]+">
                    <label for="subAddr">Adresse :</label>
                    <span class="helper-text" data-error="L'adresse ne respecte pas le format demandé'" data-success="">ex: 7 Rue de la Gare, 33000 Bordeaux</span>
                </div>
                <div class="input-field col s6">
                    <select class="validate" id="subCommuneId" name="subCommuneId">
                        <% communes.forEach(commune => { %>
                        <option value="<%= commune.ID_COMMUNE %>"><%= commune.NOM_COMMUNE %></option>
                        <% }); %>
                      </select>
                      <label for="subCommuneId">Commune :</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Adhérer</button>
            </div>
        </form>
    </div>
</div>

<%- include('footer'); -%>