<%- include('header', {title: 'Vélo', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Vélo n°<%= bike.ID_VELO %></h1>

<p>
    Des informations sur le vélo...
</p>

<%- include('footer'); -%>