<%- include('header', {title: 'Vélos', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Rechercher des vélos</h1>

<div class="row">
    <div class="col s12">
        <a href="/bikes/allBikes">Tous nos vélos en libre service</a>
    </div>
    <div class="col s12">
        <a href="/bikes/availableBikes">Tous nos vélos disponibles en ce moment</a>
    </div>
    <div class="col s12">
        <a href="/bikes/unavailableBikes">Tous nos vélos en cours d'utilisation</a>
    </div>
</div>

<%- include('footer'); -%>