<%- include('header', {title: 'Les emprunts', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Les emprunts</h1>

<a class="waves-effect waves-light btn" href="/borrow">Emprunter un vélo</a>

<%- include('footer'); -%>