<%- include('header', {title: 'Emprunter', leaflet: true, css: [], js: [], banner: false}); -%>

<h1>Choisissez où emprunter un vélo :</h1>
<div id="map"></div>
<script src="/js/stationsMap.js"></script>

<%- include('footer'); -%>
