<%- include('header', {title: 'Les emprunts', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Les emprunts</h1>

<div class="row">
    <div class="col s10">
        <a href="/borrows/list">Les emprunts en cours</a>
    </div>
    <div class="col s10">
        <a href="/borrows/allBorrows">Tous les emprunts</a>
    </div>
    <div class="col s2">
        <div class="valign-wrapper">
            <a class="waves-effect waves-light btn" href="/borrow">Emprunter un vélo</a>
        </div>
    </div>
</div>   

<%- include('footer'); -%>