</div>
</main>

<footer class="page-footer blue-grey darken-4 white-text">
    <div class="container">
        <div class="footer-copyright">
            <div class="container">
                &copy; BBT - P-J MOREL - L. MARAIS - E. MEDINA
            </div>
        </div>
    </div>
    
</footer>

</body>
</html>