<header>
    <nav>
        <a href="/"><img alt="Logo BBT" src="/img/bbt_min_transparent.png" width="113" height="64"></a>
        <ul>
            <li><a href="/">Carte des stations</a></li>
            <li><a href="/subscribers">Adhérents</a></li>
            <li><a href="/bikes">Rechercher des vélos</a></li>
        </ul>
    </nav>
    <div id="banner">
        <img alt="Logo BBT" src="/img/bbt_full_transparent.png">
    </div>
</header>