<%- include('header', {title: 'Stations', leaflet: true, css: [], js: [], banner: true}); -%>

<h1>Nos stations autour de Bordeaux</h1>
<div id="map"></div>
<script src="/js/stationsMap.js"></script>

<%- include('footer'); -%>
