<li><a href="/">Carte des stations</a></li>
<li><a href="/subscribers">Adhérents</a></li>
<li><a href="/bikes/allBikes">Vélos</a></li>
<li><a href="/borrows">Emprunts</a></li>
<li><a href="/stats">Statistiques</a></li>
