<li><a href="/">Carte des stations</a></li>
<li><a href="/subscribers/allSubs">Adhérents</a></li>
<li><a href="/bikes/allBikes">Vélos</a></li>
<li><a href="/borrows/allBorrows">Emprunts</a></li>
<li><a href="/stats">Statistiques</a></li>
