<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Management App</title>
</head>
<body>
    <header>
        <h1>Station</h1>
    </header>
    <main>
        <div id="stationsList">
        </div>
        <div id="errorBlock">
            <p id="errorMsg">
        </div>
    </main>

    <script type="text/javascript" src="/js/station.js"></script>
</body>
</html>