<%- include('header', {title: 'Statistiques', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Statistiques</h1>

<div class="row">
    <div class="col s12">
        <a href="/stats/avg/nbSubs">Moyenne du nombre d'usagers par vélo par jour</a>
    </div>
    <div class="col s12">
        <a href="/stats/avg/dates">Moyenne des distances parcourues par les vélos entre deux dates</a>
    </div>
    <div class="col s12">
        <a href="/stats/rankingStations">Classement des stations par nombre de places disponibles décroissant par commune</a>
    </div>
    <div class="col s12">
        <a href="/stats/rankingBikes">Classement des vélos les plus chargés par station</a>
    </div>
    <div class="col s12">
        <a href="/stats/subsCountDay">Les adhérents qui ont utilisés au moins <em>n</em> fois un vélo le jour <em>j</em></a>
    </div>
</div>

<%- include('footer'); -%>