<%- include('header', {title: 'Adhérents', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Les adhérents</h1>

<div class="row">
    <div class="col s12">
        <a href="/subscribers/allSubs">Tous les adhérents</a>
    </div>
    <div class="col s12">
        <a href="/subscribers/count/day">Ceux qui ont utilisé au moins <em>n</em> fois un vélo le jour <em>j</em></a>
    </div>
</div>

<%- include('footer'); -%>