<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Bordeaux Bike Travel</title>
</head>
<body>
    <%- include('header'); %>
    <h1>Les adhérents</h1>

</body>
</html>