<%- include('header', {title: 'Adhérents', leaflet: false, css: [], js: [], banner: false}); -%>

<h1>Les adhérents</h1>

<a href="/subscribers/count/day">Ceux qui ont utilisé au moins <em>n</em> fois un vélo le jour <em>j</em></a>


<%- include('footer'); -%>